.row {
    margin-bottom: 10px;
}

.blue-box {
    background-color: #4286f4;
}

.light-blue-box {
    background-color: #62a6f4;
}

#warning_text {
    color: white;
}

.buffer{
	width:25px;
	height:auto;
	display:inline-block;
}
